<div class="sidebar-nav">
    <ul>
        <li class="nav-header"><a href="/Home/Home/" style="cursor:pointer;"><i class="fa fa-home"></i> Back to Home</a></li>
        
        <li>
            <a href="#" data-target=".reg-menu" class="nav-header" data-toggle="collapse" style="cursor: pointer;">
                <i class="fa fa-user"></i> Registrations <i class="fa fa-collapse"></i>
            </a>
        </li>
        <!-- SubMenus Start-->
        <li>
            <ul class="reg-menu nav nav-list collapse">
                <li>
                    <a href="/Vendor/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Franchise Registration</a>
                </li>

                <li>
                    <a href="/Driver/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Driver Registration</a>
                </li>

                <li>
                    <a href="/Vehicle/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Vehicle Registration</a>
                </li>

                <li>
                    <a href="/Hospital/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Hospital Registration</a>
                </li>

                <li>
                    <a href="/Nurse/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Nurse Registration</a>
                </li>

                <li>
                    <a href="/Chemist/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Chemist Registration</a>
                </li>

                <li>
                    <a href="/Lab/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Lab Registration</a>
                </li>

                <li>
                    <a href="/CompletHealthCheckup/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Health Checkup Center Registration</a>
                </li>

                <li>
                    <a href="/Rwa/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>RWA Registration</a>
                </li>


                <li>
                    <a href="/DoctorRegistration/Add" style="cursor:pointer"><span class="fa fa-plus"></span> <span class="fa fa-user"></span>Doctor Registration</a>
                </li>
                <li>
            </ul>
        </li>

      
    </ul>
</div>