################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HospitalPortal/v17/.suo
/.vs/HospitalPortal/FileContentIndex/66d37cdd-0c1e-4560-bc3d-a8abf9c9b56a.vsidx
*.vsidx
/.vs/HospitalPortal/v17/DocumentLayout.json
/HospitalPortal/obj/Debug/HospitalPortal.pdb
/HospitalPortal/obj/Debug/HospitalPortal.dll
/.vs/HospitalPortal/v17/DocumentLayout.json
/HospitalPortal/obj/Debug/HospitalPortal.dll
/HospitalPortal/obj/Debug/HospitalPortal.pdb
