
@{
    ViewBag.Title = "HospitalList";
    Layout = null;
}

<h2>HospitalList</h2>

@model HospitalPortal.Models.ViewModels.ScanReportVM

<div style="margin:auto">

    @using (Html.BeginForm())
    {
        <div class="row" style="margin-top:5%;">
            <div class="col-md-3">
                @Html.TextBoxFor(a => a.HospitalName, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <input type="submit" value="filter" />
            </div>
        </div>
    }

    @if (Model.HospitalList.Count() <= 0)
    {
        if (TempData["msg"] != null)
        {
            <h2>@TempData["msg"]</h2>
        }
    }
    else
    {
        <table class="table table-bordered">
            <tr>
                <th>Hospital Name</th>
                <th>Action</th>
            </tr>
            <tbody>
                @foreach (var item in Model.HospitalList)
                {
                    <tr>
                        <td>@item.HospitalName</td>
                        <td><a href="/Hospital/ViewUploadReports?id=@item.Id">View Reports</a></td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>

