
@{
    ViewBag.Title = "HospitalPayment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Franchise Payment</h2>

<div class="row">
    <div class="col-md-4">
        <select id="tp" class="form-control" required="required">
            <option value="Daily">
                Select Any
            </option>
            <option value="Doctor">
                Doctor
            </option>
            @*<option value="Driver">
                    Driver
                </option>*@
                <option value="Vehicle">
                    Vehicle
                </option>
            <option value="HealthCheckup">
                HealthCheckup
            </option>
            <option value="Lab">
                Lab
            </option>
            <option value="Nurse">
                Nurse
            </option>
            <option value="RWA">
                RWA
            </option>
            @*<option value="Patient">
                Patient
            </option>*@
        </select>
    </div>
    <div class="col-md-4">
        <input type="button" value="Check" id="btnCheck" class="btn btn-primary" />
    </div>
</div>
<div id="prevAtt" style="margin-top:5%;">

</div>

<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<script>
    $("#btnCheck").click(function () {
        debugger
        var term = $("#tp").val();
        if (term == "Doctor") {
            $.ajax({
                url: "/Report/Doctor?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }
        if (term == "Driver") {
            $.ajax({
                url: "/Report/Driver?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }
        if (term == "Vehicle") {
            $.ajax({
                url: "/Report/Vehicle?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }

        if (term == "HealthCheckup") {
            $.ajax({
                url: "/Report/HealthCheckupVendor?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }

        if (term == "Lab") {
            $.ajax({
                url: "/Report/LabVendor?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }

        if (term == "Nurse") {
            $.ajax({
                url: "/Report/NurseVendor?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }

        if (term == "RWA") {
            $.ajax({
                url: "/Report/RWAVendor?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }

        if (term == "Patient") {
            $.ajax({
                url: "/Report/PatientVendor?term=" + term,
                type: "get",
                success: function (response) {
                    console.log(response);
                    $("#prevAtt").html(response);
                },
                error: function (error) {
                    console.log(error.responseText);
                    msg.text("");
                }
            });
        }
        //if (term == "Weekly") {
        //    $.ajax({
        //        url: "/ViewReport/WeeklyDoctor?term=" + term,
        //        type: "get",
        //        success: function (response) {
        //            console.log(response);
        //            $("#prevAtt").html(response);
        //        },
        //        error: function (error) {
        //            console.log(error.responseText);
        //            msg.text("");
        //        }
        //    });
        //}
    });
</script>

