@model HospitalPortal.Models.ViewModels.ReportDTO
@{
    ViewBag.Title = "ViewDoctorAppointment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>View Doctor Appointment</h2>
<table  id="myTable" class="table-bordered table">
    <thead style="background-color:lavender;">
        <tr>
            <th>
                Patient Name
            </th>
            
            <th>
                Appointment Date
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppointmentDetails)
        {
            <tr>
                <td>
                   @item.PatientName
                </td>
                <td>
                    @if (item.AppointmentDate != null)
                    {
                        @item.AppointmentDate.Value.ToString("dd-MMM-yyyy");
                    }
                </td>
                <td>
                    &#8377; @item.TotalFee 
                </td>
            </tr>
        }

    </tbody>
</table>
<div class="row">
    <div class="col-md-3">
        Total Amount
    </div>
    <div class="col-md-3" style="margin-left:-13%">
        @if (ViewBag.Total != null)
        {
            <h2 style="color:red"> &#8377; @ViewBag.Total </h2>
        }
    </div>
</div>

