@model HospitalPortal.Models.ViewModels.ReportDetails
@{
    ViewBag.Title = "Daily";
}



<link href="/css/bootstrap.min.css" rel="stylesheet" />
<style>
    #main{
        margin: 6%;
    }
</style>


<div id="main">
    <a href="/VendorReport/Doctor" class="btn btn-primary" style="margin-top:1%; margin-bottom:2%;">Back</a>

    
    @if (Model.Vendors == null)
    {
        if (TempData["msg"] != null)
        {
            <h2 style="color:blueviolet">
                @TempData["msg"]
            </h2>
        }
    }
    else
    {
        <table id="tables" class="table table-responsive">
            <thead style="background-color:lavender;">
                <tr>
                    <th>
                        Vendor Name
                    </th>
                    <th>
                        Company Name
                    </th>
                    @*<th>
                Added Doctors!!
            </th>*@
                    <th>
                        Total Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Vendors)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Name1
                        </td>

                        <td>
                            @item.Counts
                        </td>
                        @*@{
                                double amt = item.Counts * ViewBag.Payment;
                            }
                            <td>
                                @amt
                            </td>*@
                    </tr>
                }

            </tbody>
        </table>
    }
</div>
<script src="/Scripts/Library/jquery-1.7.1.min.js"></script>
<link href="/css/jquery-ui.css" rel="stylesheet" />
<script src="/Scripts/jquery-ui.js"></script>

<script>
    $(".datepicker").datepicker().datepicker('setdate', 'today');
</script>
<script>
    $("#test").click(function () {
        debugger
        var date = $("#date").val();
        $.ajax({
            url: "/VendorReport/DailyDoc?date=" + date + "",
            type: "get",
            success: function (response) {
                console.log(response);
                $("#prevAtt").html(response);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });
</script>

