@model IEnumerable<HospitalPortal.Models.DomainModels.HealthPackageMaster>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<style>
    #mainContainer {
        width: 60%;
        margin-top: 1%;
        margin-left: 1%;
    }
</style>
<div class="row">
    <div class="col-md-6">
        @Html.ActionLink("Add More", "Add", null, new { @class = "btn btn-info" })
    </div>
</div>

<div id="mainContainer">
   
    @using (Html.BeginForm("All", "HealthPackageMaster", FormMethod.Get))
    {
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" id="term" name="term" placeholder="Serach by Package Name" />
            </div>
            <div class="col-md-3">
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-6">
            <h3>Packages</h3>
        </div>
    </div>




    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Package's Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PackageName</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to Edit?');", @class = "btn btn-info" })
                                @*@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })*@
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');", @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


