@model HospitalPortal.Models.ViewModels.AddContentVM

@{
    ViewBag.Title = "AddContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<script src="~/Themes/ckeditor/ckeditor.js"></script> 

<h2 style="text-align:center">Add Content</h2>
<div style="margin:auto; width:85%">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-3">Enter the Page Name</div>
            @*<div class="col-md-3">@Html.DropDownListFor(a=> a.PageName, new List<SelectListItem>
    {
                        new SelectListItem() {Text = "AboutUs", Value="AboutUs"},
                        new SelectListItem() {Text = "Support", Value="Support"} }, new { @class="form-control" }

     )</div>*@
            <div class="col-md-3">
                @Html.DropDownListFor(x => x.Id, Model.PageNameList, "Select Page Name", new { @class = "form-control", style = "height: calc(3.25rem + 2px) !important;" })
        </div>
        </div>
        <div class="row">
            <div class="col-md-3">Enter the Content</div>
            <div class="col-md-9">
                @Html.TextAreaFor(a => a.About, new { id = "editor1" })
                <script>
                    CKEDITOR.replace("editor1");
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"><input type="submit" value="submit" class="btn btn-success"/></div>
            <div class="col-md-3">
                @if(TempData["msg"] != null)
                {
                    <h3 style="color:green">@TempData["msg"]</h3>
                }
            </div>
        </div>
    }

</div>

<script src="~/Scripts/Library/jquery-1.7.1.min.js"></script>
<script>
    $("#Id").change(function () {
        debugger
        var name = $(this).val();
        //var city = $("#City_Id");
        //city.empty();
        //city.append("<option value=''>Select</option>");
        $.ajax({
            url: '/Admin/Call?term=' + name,
            type: 'get',
            success: function (response) {
                //alert(response);
                CKEDITOR.instances['editor1'].setData(response);
            },
            error: function (error) {
                console.log(error.responseText);
            }
        });
    });
</script>