@model HospitalPortal.Models.ViewModels.ChangePasswordModel
@{
    ViewBag.Title = "ChangeTransactionPassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Change Transaction Password</h2>

<a href="/Admin/TransactionLogin" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
<div style="width:40%; margin-top:10px;">
    @using (Html.BeginForm("ChangeTransactionPassword", "Admin", FormMethod.Post))
    {
        <div class="form-group">
            @Html.PasswordFor(model => model.TransactionPwd, new { placeholder = "New Password", @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.PasswordFor(model => model.ConfirmPassword, new { placeholder = "Confirm new password", @class = "form-control" })
        </div>

        if (TempData["msg"] != null)
        {
            string msg = TempData["msg"].ToString();
            <div class="row">
                <div class="col-md-12">
                    @if (msg == "ok")
                    {
                        <div class="alert alert-success">
                            Saved Successfully.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            @msg
                        </div>
                    }
                </div>
            </div>
        }

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Change</button>


        </div>
    }
</div>
