@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Change Password</h2>
<script src="/Scripts/Library/angular.min.js"></script>
<script src="/Scripts/Controllers/changePasswordController.js"></script>
<div ng-controller="changePasswordController" style="width:40%">
    <form ng-submit="changePassword(user)">
        <div class="form-group">
            <input type="password" placeholder="New Password" ng-model="user.Password" class="form-control" />
        </div>

        <div class="form-group">
            <input type="password" placeholder="Confirm new password" ng-model="user.ConfirmPassword" class="form-control" />
        </div>

        <div class="form-group">
            <span style="color:{{color}}">{{message}}</span>
        </div>

        <div class="form-group">
            <button type="submit">Change</button>
        </div>

    </form>

</div>
