@model HospitalPortal.Models.ViewModels.VehicleAllotmentDTO
@{
    ViewBag.Title = "UpdateDriver";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Update Driver</h2>
<a href="/Vehicle/VehicleAllotment" class="btn btn-info">Back</a>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-3">
            Select Driver Name
        </div>
        <div class="col-md-3">
           @Html.TextBoxFor(a=> a.DriverName)
        </div>
        <div class="col-md-3">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
}
@if(TempData["msg"] != null)
{
    <h2 style="color:palevioletred">@TempData["msg"]</h2>
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
    $("#DriverName").autocomplete({
        source: function (request, response) {
   
            $.ajax({
                url: '/Vehicle/GetDriverName',
                data: { term: request.term },
                type: 'POST',
                success: function (data) {
                    if (!data.length) {
                        debugger
                        var result = [
                         {
                             label: 'No Driver found',
                             value: response.term
                         }
                        ];
                        response(result);
                    }
                    else {

                        response($.map(data, function (item) {
                            debugger
                            id = item.Id
                            console.log(id);
                            return {
                                label: item.DriverName,
                                value: item.DriverName,
                                id: item.Id,
                            };
                        }));
                    }
                }
            });
        },
  });
</script>








